@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

@import "tailwindcss" source(none);

@theme {
  --font-sans: "Open Sans", sans-serif;
  --font-serif: Merriweather, serif;
}

@plugin "../vendor/heroicons";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: oklch(36.84% 0.0478 156.76); /* brand primary */
  --color-primary-content: oklch(0.97 0 0); /* neutral-100 */
  --color-secondary: oklch(83.01% 0.0222 158.49); /* brand secondary */
  --color-base-100: oklch(98% 0.001 106.423); /* stone-100 */
  --color-base-200: oklch(97% 0.001 106.424); /* stone-200 */
  --color-base-300: oklch(92% 0.003 48.717); /* stone-300 */
}

@source "../css";
@source "../js";
@source "../../lib/edenflowers_web";

@variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);

/*
 * Make LiveView wrapper divs transparent for layout.
 * This makes it possible to use LiveViews as flex children for example.
 */
[data-phx-root-id] {
  display: contents;
}

.checkout__section {
  @apply flex flex-col gap-8 mb-12;
}

.checkout__form {
  @apply flex flex-col space-y-6;
}

.checkout__heading-container {
  @apply space-y-4 mb-4;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
